.main-container {
  margin: 423px auto;
  width: 500px;
}

.h-nesting-level {
  text-align: center;
}

.list-metrics {
  margin-top: 50px;
  text-align: center;
}

.list-statuses {
  margin-top: 25px;
}

.div-total-crawled {
  padding: 5px 10px 5px 10px !important;
  margin: 10px 0px 5px 0px !important;
}

.div-current-url {
  padding: 5px 10px 5px 10px !important;
  margin: 0px 0px 5px 0px !important;
}
